*{
     font-family: 'Open Sans'; 
}
/* -------banner part start--------- */
 .american-rose{
    background-image: url(../images/banner/banner1.png); 
   height: 810px; 
   display: flex;
   position: relative;
 }
 .chaina-rose{
   text-align: right;
   margin-left: 750px;
   margin-top: 200px;
   
 }
 #first-para{
   font-size: 70px;
 }
 #contract{
   width: 160px;
height: 64px;
 background-color: coral;
color: aliceblue;
font-size: 20px;
border-radius: 5px;
 }


 /* ------Ending of banner part------- */

 /*------- starting of main part-------- */
 .shark{
      display: flex; 
     margin-right: 0px;
      gap: 70px; 
 }
 .salmon{
    margin-top: 90px;
 }
 #buth{
    
    margin-top: 240px;
 }
 #pic{
    height: 500px;
     margin-left: 230px; 
 }
 #Lorem{
    width: 400px;
 }
 /* -------------------------------------------------- */
 #plan{
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
 }
 .want{
    color: gray;
 }
 .div{
    display: flex;
    gap: 80px;
    margin-left: 230px;
 }
 .img, #start{
    margin-left: 40px;
 }
 #learn{
    margin-left: 40px;
 }
 #end, #deve, #java{
    margin-left: 30px;
 }
 #eco{
    margin-left: 20px;
 } 
 /*------------------------------------------------------- */
 
 /* ---------main part finished-------- */



 /* ----footer part start------- */
 #boat{
   width: 1600px;
height: 377px;
background: #151414;
display: flex;
gap: 50px; 
max-width: 1325px;
margin-top: 0px;

 }
 .sink{
   color: white;
   margin-top: 90px;
   margin-left: 270px;
 }
 .sink p{
   font-size: 10px;
 }
 #img{
   gap: 15px;
   size: 300px;
 }
 .sink #mail{
   width: 250px;
height: 34px;
border-radius: 7px;
padding-left: 40px;
background-color: #151414;
color: aliceblue;
border: 1px solid gray;
 }
 .sink #tube{
   width: 140.11px;
height: 44px;
border-radius: 7px ;
color: chocolate;
font-size: 15px;
 }
 .sink #ink{
   margin: bottom 5px; 
 }
 
 
 
  