*{
     font-family: 'Open Sans', sans-serif; 
}
/* -------banner part start--------- */
#black-rose{
    background-image: url(../images/banner/banner3.png);
    width: 1332px;
    height: 808px;
}
.rose{
    font-size: 40px;
    text-align: right;
    color: white;
    margin-right: 120px;
} 
.meri-gold {
    text-align: right;
    color: white;
    font-size: 15px;
    margin-right: 120px;
}
.chaina-rose{
    color:#005FAC;
    background-color: white;
    height: 64px;
    width: 130px;
    font-size: 20px;
    float: right;
    border: 1px solid white;
    border-radius: 4px;
    margin-right: 120px;
    margin-bottom: opx;
}
 /* ------Ending of banner part------- */

 /*------- starting of main part-------- */
 .shark{
      display: flex; 
     margin-right: 0px;
      gap: 70px; 
 }
 .salmon{
    margin-top: 90px;
 }
 #buth{
    
    margin-top: 240px;
 }
 #pic{
    height: 500px;
     margin-left: 230px; 
 }
 #Lorem{
    width: 400px;
 }
 /* -----ending of mains first part------- */
 #plan{
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
 }
 .want{
    color: gray;
 }
 .div{
    display: flex;
    gap: 80px;
    margin-left: 230px;
 }
 .img, #start{
    margin-left: 40px;
 }
 #learn{
    margin-left: 40px;
 }
 #end, #deve, #java{
    margin-left: 30px;
 }
 #eco{
    margin-left: 20px;
 } 
 